<h1>User Details</h1>
<button class="btn btn-primary" (click)="openModal(-1)">Add User</button>
<table class='table'>
    <thead>
        <tr>
            <th scope='col'>First Name</th>
            <th scope='col'>Last Name</th>
            <th scope='col'>UserName</th>
            <th scope='col'>Email</th>
            <th scope='col'>Password</th>
            <th scope='col'>Gender</th>
            <th scope='col'>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of userData index as i">
            <td>{{item.firstname | namePrefix:item.gender}}</td>
            <td>{{item.lastname}}</td>
            <td>{{item.username}}</td>
            <td>{{item.email}}</td>
            <td>{{item.password}}</td>
            <td>{{item.gender}}</td>
            <td>
                <button type='button' class='btn btn-primary' (click)="openModal(i)">Edit</button>
                <button type='button' class='btn btn-secondary ms-3' (click)="handleDelete(i)">Delete</button>
            </td>
            </tr>
    </tbody>
  </table>
<button class="btn btn-primary" (click)="logout()">Logout</button>
<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <form class="modal-content" [formGroup]="form" (ngSubmit)="saveChanges()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalText}} User Details</h5>
          <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-group mt-3">
                      <label for='firstname' class='form-label'><b>First Name</b></label>
                      <input type='text' class='form-control' name='firstname' formControlName="firstname"/>
                      <span *ngIf="submit && user?.['firstname']?.errors"><small class="text-danger">Firstname is Required</small></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group mt-3">
                      <label for='lastname' class='form-label'><b>Last Name</b></label>
                      <input type='text' class='form-control' name='lastname' formControlName="lastname"/>
                      <span *ngIf="submit && user?.['lastname']?.errors"><small class="text-danger">Lastname is Required</small></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group mt-3">
                      <label for='username' class='form-label'><b>Username</b></label>
                      <input type='text' class='form-control' name='username' formControlName="username"/>
                      <span *ngIf="submit && user?.['username']?.errors"><small class="text-danger">Username is Required</small></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group mt-3">
                      <label for='email' class='form-label'><b>Email</b></label>
                      <input type='email' class='form-control' name='email' formControlName="email"/>
                      <span *ngIf="submit && user?.['email']?.errors?.['required']"><small class="text-danger">Email is Required</small></span>
                      <span *ngIf="submit && user?.['email']?.errors?.['email']"><small class="text-danger">Email is not valid</small></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group mt-3">
                      <label for='password' class='form-label'><b>Password</b></label>
                      <input type='password' class='form-control' name='password' formControlName="password"/>
                      <span *ngIf="submit && user?.['password']?.errors?.['required']"><small class="text-danger">Password is Required</small></span>
                      <span *ngIf="submit && user?.['password']?.errors?.['pattern']"><small class="text-danger">Must contain 1 uppercase, 1 lowercase, 1 digit, 1 special character</small></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group mt-3">
                        <div>
                            <label for='gender' class='form-label'><b>Gender</b></label>
                        </div>
                      <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="gender" id="male" value="male" formControlName="gender">
                        <label for="male" class="form-check-label">Male</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="gender" id="female" value="female" formControlName="gender">
                        <label for="female" class="form-check-label">Female</label>
                      </div>
                    </div>
                    <span *ngIf="submit && user?.['gender']?.errors"><small class="text-danger">Gender is Required</small></span>
                </div>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
</div>