<div class="container my-3">
    <h1>Form Builder</h1>
    <form [formGroup]="finalForm" (ngSubmit)="onSubmit()">
        <div formArrayName="quesWithAns">
            <div class="card my-3" *ngFor="let item of quesWithAnsControls.controls;let i=index">
                <div [formGroupName]="i">
                    <div class="card-header">
                        {{item.get('questionText')?.value}} 
                        <span class="badge bg-danger" *ngIf="item.get('required')?.value">Required</span>
                    </div>
                    <div class="card-body">
                        <ng-container [ngSwitch]="item.get('questionType')?.value">
                            <textarea rows="4" class="w-100" *ngSwitchCase="'para'" formControlName="answerText"></textarea>
                                <div *ngSwitchCase="'list'">
                                    <div formArrayName="options">
                                        <div *ngFor="let option of item.get('options')?.value; let j=index">
                                            <label class="form-check-label mx-2">
                                                <input class="form-check-input" type="checkbox" value="{{option}}" (change)="handleOptions($event,i,j)">
                                                {{option}}
                                            </label>
                                        </div>
                                    </div>     
                                    <div *ngIf="item.get('allowOther')?.value">
                                        <label class="form-check-label mx-2" id="{{'otherCheckbox' + i}}" >
                                            <input class="form-check-input" type="checkbox" id="{{'otherCheckbox' + i}}"  (change)="toggleSpecify($event,i)">
                                            Other
                                        </label>
                                        <div id="{{'other' + i}}" class="specify">
                                            <input type='text' class="my-1 form-control" placeholder="Specify your answer" formControlName="otherInput">
                                        </div>
                                    </div>
                                </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    <div class="text-primary my-3" type="button" (click)="openModel()"><u>Add New Question</u></div>
    <button type="submit" class="btn btn-primary" *ngIf='submitAnswer' [disabled]="!finalValidation()">Submit</button>
    </form>
</div>
<div class="modal" id="builderModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <form class="modal-content" [formGroup]="questionForm" (ngSubmit)="submit()">
        <div class="modal-header">
          <h5 class="modal-title">Add Question</h5>
          <button type="button" class="close" (click)="closeModel()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="question" class="form-label">Question Type</label>   
            <select class="form-control custom-select" id="question" formControlName="questionType">
                <option value="para" selected>Paragraph</option>
                <option value="list">Checkbox list</option>
              </select>
          </div>
          <div class="form-group my-3">
            <label for="text" class="form-label">Question Text</label>   
            <input class="form-control" id="text" formControlName="questionText">
          </div>
          <div class="form-group my-3" formArrayName="options" *ngIf="questionForm.get('questionType')?.value === 'list'">
            <label for="options" class="form-label">Options</label>   
            <div *ngFor="let option of optionControls.controls; let i=index" class="input-group mb-3">
                <input type="text" class="form-control" [formControlName]="i">
                <div class="input-group-append">
                    <button class="btn btn-danger" type="button" (click)="removeOption(i)">Remove</button>
                </div>
            </div>
            <div>
                <button class="btn btn-secondary" type="button" (click)="addOption()">Add Option</button>
            </div>
          </div>
            <div  *ngIf="questionForm.get('questionType')?.value === 'list'">
                <input class="form-check-input mx-2" type="checkbox" id="allowOther" formControlName="allowOther"> 
                <label class="form-check-label" for="allowOther">
                    Allow user to specify their own answer
                </label>
            </div>
            <div>
                <input class="form-check-input mx-2" type="checkbox" id="required" formControlName="required"> 
                <label class="form-check-label" for="required">
                    This Question is required
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModel()">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="!questionForm.valid">Save Question</button>
        </div>
    </form>
    </div>
</div>